#container {
	width: 360px;
	/* use this margin trick to center things */
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: #f7f7f7;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: Gamja Flower;
	background: url(https://images.pexels.com/photos/139259/pexels-photo-139259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 18px;
}

/* Syntax for every other li */
li:nth-child(2n){
	background: #f7f7f7;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 0;
	display: inline-block;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1;
}

.fa-plus-circle {
	float: right;
}